body{
    font-family: arial;
}
.pic{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/bookpic7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:solid transparent;
}
.header_wrapper{
    width: 94vw;
    height: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-left: 30px;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 94vw;
    height: 100px;
    margin-top: 20px;

}
header img{
    width: 110px;
    height: 110px;
    margin-top: -10px;
}
header h1{
    font-size: 50px;
    margin-top: 20px;
}

.search{
    margin-top: 20px;
    margin-left: 120px;
    height: 50px;
    width: 400px;
    background-color: #8CB0E4;
    border-radius: 10px;
}
.search input{
    border: none;
    background-color: #8CB0E4;
    font-size: 15px;
    width: 300px;
    height: 45px;
    margin-left: 10px;
}
.search button{
    background-color: transparent;
    border: none;
    color: #1D3F70;
    background-color: #8CB0E4;
}
header ul{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}
header li{
    margin-left: 50px;
    margin-top: 20px;
}
header ul li a{
    color: #1d3f70;
    font-size: 20px;
    text-decoration: none;
}
header li a img{
    width: 60px;
    height: 60px;
    margin-right: 40px;
}
header li:hover{
    background-color: #8CB0E4;
    padding: 2px 15px;
    height: 30px;
    border-radius: 15px;
}
header li a:hover{
    color: whitesmoke;
}
.dropdown button{
    background-color: transparent;
    color: #1D3F70;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.content {
    display: none;
    position: absolute;
    background-color: #4D85C0;
    border-radius: 15px;
    min-width: 150px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
    display: block;
}
.content a:hover{
    background-color: #8CB0E4;
    width: 200px;
    color: aliceblue;
    border-radius: 15px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 300px;
    height: 300px;
    perspective: 800px;
    margin-top: -50px;
    margin-left: 10%;
}
.card{
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front,.back{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-size: 100% 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
}
.front h2{
    color: #1D3F70;
}
.back{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #8CB0E4;
}
.container:hover >.card{
    cursor: pointer;
    transform: rotateY(180deg);
}
#front1{
    background-color: #4D85C0;
    border: 5px solid #1D3F70;
}
#front2{
    background-image: url(images/book2.jpg);
}
#front3{
    background-image: url(images/book4.jpg);
}


.books {
    display: flex;
    overflow-x: auto;
}
.books::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.books button {
    background-color: transparent;
    border: none;
    margin-right: 25px;
    margin-top: 30px;
}
.books button a{
    text-decoration: none;
}
.books button a h2{
    color: #1D3F70;
}
.books button img{
    width: 200px;
    height: 250px;
    border:solid;
    border-radius: 15px;
    border-color: lightgray;


}
.books button img:hover{
    width: 220px;
    height: 260px;
    border-radius: 15px;
    box-shadow: 8px 8px 10px #8CB0E4;
}
.books h2:hover{
    color:#4D85C0;
}
.books h2:active{
    color:gray;
}



footer{
    width: 100%;
    height: 300px;
    background-color:#1D3F70;
    border: solid;
    border-color: #1D3F70;  
    border-top-left-radius: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
}
ul{
    list-style: none;
}
.col{
    width: 30%;
}
.col h3 {
    margin-left: 40px;
    color: #D8D8E3;
}
.col a:hover{
    color:#8CB0E4;
}
.col a:active{
    color:bisque;
}
ul li {
    height: 30px;
}
ul li a{
    color : #D8D8E3;
    text-decoration: none;
}
hr{
    width:90%;
    height: 0px;
    border-top: 1px solid #D8D8E3;
}
#copy{
    font-size: 12px;
    margin-left: 77px;
    color: #D8D8E3;
}
footer img{
    width: 120px;
    height: 120px;
    
}
footer img:hover{
    transform: rotate(30deg);
}


.sign_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh ;
    background-color: aliceblue;
}
.sign{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8D8E3;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
.form{
    width: 100%;
    height: 100%;
    position: absolute;
}
.sign_in{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 10px;
}
.sign_in a{
    text-decoration: none;
    color: #4D85C0;
}
.sign_up{
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
    transition: all 0.8s ease;
    border-radius: 10px;
}
.sign_form form {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.form h1{
    padding: 10px 0;
}
.form input{
    border: 2px solid #1D3F70;
    background-color: whitesmoke;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
    border-radius: 10px;
}
.form button{
    border: 5px;
    border: 2px solid #1D3F70;
    background-color: whitesmoke;
    color: #1D3F70;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px ;
    margin-top: 4px;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    border-radius: 10px;
}
.form button:hover{
    background-color: #8CB0E4;
    color: whitesmoke;
}
.form button:active{
    transform: scale(0.95);
}
.form button:focus{
    outline:#D8D8E3;
}
.slide_container{
    background-color: whitesmoke;
    color: whitesmoke;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 50%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    transition: all 0.8s ease;
    overflow: hidden;
}
.slide_panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    background-color: #4D85C0;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.8s ease;
    border-radius: 100px;
}
.slide_left{
    left:0 ;
    top:0;
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    border-radius: 10px;
}
.slide_right{
    right: 0;
    top:0;
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    flex-direction: column;
}
.slide{
    width: 60%;
    border: solid;
    padding: 17px ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 80ms ease;

}
.slide:hover{
    background-color: whitesmoke;
    color: #4D85C0;
}
.slide:active{
    transform: scale(0.95);
}
#click:checked ~ .sign .slide_container{
    transform: translateX(-100%);
    border-radius: 10px 0 0 10px;
}
#click:checked ~ .sign .form .sign_up{
    transform: translateX(100%);
    z-index: 1;
}
#click:checked ~ .sign .slide_container .slide_panel{
    transform: translateX(-50%);
}
#click{
    display: none;
}